
@import url(http://fonts.googleapis.com/css?family=Nunito|Raleway);


body {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 16px;
  margin:20px;
  background-color: white;
}

#container{
  width: 725px;
  margin: 0 auto;
}

#index #container{
  width:960px;
}


h1, h2, h3, nav {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 12px;
}

header{
  text-align:center;
  width:650px;
  margin: 0 auto 0 auto;
  padding: 0.5em;

}

header a,
nav a,
a,
a:visited{
  text-decoration: none;
  color: black;
}

header a:hover,
nav a:hover,
a:hover{
  color: #ccc;
}

a.active{
  color: green;
}

nav ul{
  list-style-type: none;
  display: block;
  padding: 0;
}

nav li{
  display: inline-block;
  padding: 50px;

}

nav li:first-child {
  padding-left: 0px;
}

nav li:last-child{
  padding-right: 0px;
}

nav li a{
  color: black;
  font-size: 16px;
}


#index nav li img{
  display:inline-block;
  border: 2px;
  border-radius: 50%;
  border-color: #000000;
  border-style: solid;
  margin: 0 auto;
  width: 200px;
}

#index nav li{
  padding: 0;
  padding-right: 40px;
}

#index nav li:last-child {
  padding-right: 0;
}


img#portrait{
  border: 2px;
  border-radius: 50%;
  border-color: #000000;
  border-style: solid;
  margin: 0 auto;
  display: block;
  width: 200px;
}


address{
  text-align:left;
  font-style:normal;
  padding: 1em;
}

header img{
  margin-top:50px;
}

p{
  margin: 0;
}


#jobobjective,
#education{
  margin-bottom: 16px;
}

#grouping-box {
  position:relative;

}
#grouping-box h2{
  margin-top: 0;
}

#education,
#skills{
  width: 29%;
}

#skills td{
  font-size: 14px;
}

#accomplishments{
  position: absolute;
  top: 0;
  right: 0;
  width: 67%;
}
